header
  .right
    //- .notification.dropdown
    //-   a(href="#" data-toggle="dropdown")
    //-     span.indicator 2
    //-   .dropdown-menu
    //-     ul
    //-       li.new
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li.new
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-       li
    //-         a(href="#") Lorem ipsum dolor
    //-           span.small 15 hours ago
    //-     .see-all
    //-       a(href="#") See all
    .account.dropdown
      .avatar(data-toggle="dropdown")
        img(src="images/profile-pic.jpg")
      .bound(data-toggle="dropdown")
        span.username Jhon Doe
        span.role Administrator
      .dropdown-menu
        ul
          //- li 
          //-   a(href="my-profile.html") My Profile
          //- li 
          //-   a(href="#") Reports
          //- li 
          //-   a(href="settings.html") Settings
          //- li.divider
          li 
            a(href="login.html") Log Out